<section class="bg-white py-8  md:py-16 mt-10 ">
    <form action="#" class="mx-auto max-w-screen-xl px-4 2xl:px-0">
        <ol class="items-center bg-[#f7f7f7] px-5 py-2 shadow-sm rounded-md  flex w-full max-w-2xl text-center text-sm font-medium text-gray-500 sm:text-base">
            <li
                class="after:border-1 flex items-center text-blue-700 after:mx-6 after:hidden after:h-1 after:w-full after:border-b after:border-blue-200   sm:after:inline-block sm:after:content-[''] md:w-full xl:after:mx-10">
                <span class="flex items-center after:mx-2 after:text-blue-300 after:content-['/'] sm:after:hidden">
                    <svg class="me-2 h-4 w-4 sm:h-5 sm:w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    Cart
                </span>
            </li>
            <li
                class="after:border-1 flex items-center text-blue-700 after:mx-6 after:hidden after:h-1 after:w-full after:border-b after:border-gray-200  sm:after:inline-block sm:after:content-[''] md:w-full xl:after:mx-10">
                <span class="flex items-center after:mx-2 after:text-blue-200 after:content-['/']  sm:after:hidden">
                    <svg class="me-2 h-4 w-4 sm:h-5 sm:w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    Checkout
                </span>
            </li>

            <li class="flex shrink-0 items-center">
                <svg class="me-2 h-4 w-4 sm:h-5 sm:w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
                Payment
            </li>
        </ol>

        <div class="mt-6 sm:mt-8 lg:flex lg:items-start lg:gap-12 xl:gap-16">
            <div class="min-w-0 flex-1 space-y-8">
                <div class="space-y-4">
                    <h3 class="text-xl font-semibold text-gray-900">Payment</h3>

                    <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
                        <div *ngFor="let method of paymentMethods"
                            class="rounded-lg border border-gray-200 bg-gray-50 p-4">
                            <div class="flex items-start">
                                <!-- Radio Button -->
                                <div class="flex h-5 items-center">
                                    <input type="radio" name="payment-method"
                                        [checked]="selectedPaymentMethod()?.id === method.id"
                                        (change)="choosePaymentMethod(method)"
                                        class="h-4 w-4 border-gray-300 bg-white text-primary-600 focus:ring-2 focus:ring-primary-600" />

                                </div>

                                <!-- Payment Method Details -->
                                <div class="ms-4 text-sm">
                                    <label [for]="method.id" class="font-medium leading-none text-gray-900">{{
                                        method.name }}</label>
                                    <p class="mt-1 text-xs font-normal text-gray-500">{{ method.description }}</p>
                                    <p *ngIf="method.id === 'cash'" class="text-red-500">+$15 payment processing fee</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid border py-2 rounded-md shadow-sm grid-cols-1 gap-4 md:grid-cols-1 ">
                    <div *ngFor="let basketItem of products()">
                        <div class="flex border-b flex-row md:items-start py-2 relative">
                            <!-- Image Section -->
                            <div
                                class="flex items-center justify-center px-3 w-24 h-24 max-sm:w-28 max-sm:h-28 shrink-0 rounded-md">
                                <img [src]="basketItem.imageUrl" loading="lazy"
                                    class="w-full h-full object-contain" />
                            </div>

                            <!-- Product Info Section -->
                            <div class="flex flex-col  ">
                                <div class="w-full">
                                    <h3 class="text-[12px] font-medium">{{basketItem.productName}}</h3>
                                    <p class="text-[10px] font-thin text-gray-700 mt-0.5 line-clamp-1">
                                        {{basketItem.description}}
                                    </p>
                                    <div class="flex items-center space-x-1">
                                        <p class="text-sm font-thin py-1">Quantity : {{basketItem.quantity}}</p>
                                    </div>
                                </div>

                            </div>
                            <!-- Price and Delete Button Section -->
                            <div
                                class="flex px-4 w-full md:w-auto  flex-row md:flex-col items-start md:items-end mt-2">
                                <div class="w-[80%] md:w-auto">
                                    <p class="text-2xl font-semibold">{{basketItem.offerPrice | number}}<span
                                            class="mx-1 text-sm text-blue-400 font-semibold">EGP</span></p>
                                    <p class="line-through text-end text-gray-400 font-thin text-[15px]">
                                        {{basketItem.price | number}} <span class="text-black">EGP</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="space-y-4">
                    <h3 class="text-xl font-semibold text-gray-900 ">Delivery Methods</h3>

                    <div class="grid grid-cols-1 gap-4  md:grid-cols-3">
                        <div *ngFor="let method of deliveryMethods()!"
                            class="rounded-lg border relative border-gray-200 bg-gray-50 p-4 ps-4">

                            <div class="flex items-start py-2">
                                <!-- Radio Button -->
                                <div class="flex h-5 items-center">
                                    <input (click)="chooseDeliveryMethod(method)" type="radio" name="delivery-method"
                                        [value]="method" [(ngModel)]="selectedDeliveryMethod"
                                        class="h-4 w-4 border-gray-300 bg-white text-primary-600 focus:ring-2 focus:ring-primary-600" />
                                </div>

                                <!-- Delivery Details -->
                                <div class="flex ms-4 items-center text-sm">
                                    <div class="ms-4">
                                        <label class="font-medium leading-none text-gray-900">
                                            EGP {{ method.cost | number}} - {{ method.shortName }}
                                        </label>
                                        <p class="mt-1 text-xs font-normal text-gray-500">
                                            {{ method.description }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="mt-6 w-full space-y-6 sm:mt-8 lg:mt-0 lg:max-w-xs xl:max-w-md">
                <div class="mt-6 flex items-center justify-center gap-8">
                    <img class="h-8 w-auto "
                        src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/brand-logos/paypal.svg" alt="" />
                    <img class="h-8 w-auto "
                        src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/brand-logos/visa.svg" alt="" />
                    <img class="h-8 w-auto "
                        src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/brand-logos/mastercard.svg"
                        alt="" />
                </div>
                <div class="mt-6 grow sm:mt-8 lg:mt-0">
                    <div class="space-y-4 rounded-lg border border-gray-100 bg-gray-50 p-6 ">
                        <div class="space-y-2">
                            <dl class="flex items-center justify-between gap-4">
                                <dt class="text-base font-normal text-gray-500 ">SubTotal</dt>
                                <dd class="text-base font-medium text-gray-900 ">{{(orderService.checkoutPrice$| async)?.subtotal | number}} EGP</dd>
                            </dl>
                            <dl class="flex items-center justify-between gap-4">
                                <dt class="text-base font-normal text-gray-500 ">Estimated tax</dt>
                                <dd class="text-base font-medium text-gray-900 ">{{(orderService.checkoutPrice$| async)?.tax | number}} EGP</dd>
                            </dl>
                        </div>

                        <dl class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2 ">
                            <dt class="text-base font-bold text-gray-900 ">Total</dt>
                            <dd class="text-base font-bold text-gray-900 ">{{(orderService.checkoutPrice$| async)?.total | number}} EGP</dd>
                        </dl>
                        <p class="mt-8 text-lg font-medium">Shipping Address</p>
                         <div class="w-full relative my-4 py-4 flex items-center justify-center">
                            <span *ngIf="(addressApi.isLoading$ | async)" class="loader"></span>

                         </div>
                      
                        <form *ngIf="!(addressApi.isLoading$ | async)" class="mt-5 grid gap-4">
                            <div  class="relative" *ngFor="let address of addresses(); let i = index">
                                <!-- Hidden Radio Input -->
                                <input class="peer hidden" [id]="'address_' + i" type="radio" name="shipping-address"
                                    [value]="address" (change)="selectAddress(address)"
                                    [checked]="address === selectedAddress()" />

                                <!-- Custom Radio Indicator -->
                                <span
                                    class="peer-checked:border-gray-700 absolute right-4 bottom-0 box-content block 
                                          h-3 w-3 -translate-y-1/2 rounded-full border-8 border-gray-300 bg-white"></span>

                                <!-- Address Selection Label -->
                                <label [for]="'address_' + i" class="peer-checked:border-2 peer-checked:border-gray-700 peer-checked:bg-gray-50 
                                      flex cursor-pointer select-none rounded-lg border border-gray-300 p-4">

                                    <!-- Address Details -->
                                    <div class="px-2">
                                        <span class="block mt-2 font-semibold text-gray-900">
                                            {{ address.city }}, {{ address.area }}, Egypt
                                        </span>
                                        <p class="text-slate-600 text-sm leading-6">
                                            Street: {{ address.street }}
                                            Landmark: {{ address.landmark }}
                                        </p>
                                    </div>
                                </label>
                            </div>
                        </form>

                    </div>

         
                    <p *ngIf="messageErrorAddress" class="text-red-600 text-[13px] text-center mt-5 ">{{messageErrorAddress}}</p>
                    <button (click)="placeOrder()"  class="w-full flex items-center justify-center relative py-3 rounded-md shadow-sm
                     bg-slate-800 hover:bg-black transition-all
                      text-gray-50 text-center font-medium mt-10">
                      <p>{{ selectedPaymentMethod()?.id === 'COD' ? 'Place Order' : 'Payment' }}</p>

                      <div *ngIf="isLoading()" class="flex items-center absolute right-4 top-3 space-x-4 px-3 ">
                            <span class="loader"></span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </form>
</section>