<div @fadeInOut *ngIf="isStatusPopupVisible()" (click)=" hidePopup()" class="bg-[#bbbbbb62]  z-40 fixed top-0 w-full h-full flex items-center justify-center">
  <div (click)="stopPropagation($event)" class="flex flex-col  ">
    <div class="max-h-72 max-w-lg gap-1 rounded-sm bg-white overflow-x-auto w-[400px] px-3 py-4 flex  flex-col">
     
        <div
        [ngClass]="{'active':activeIndex==index}"
        (click)="selectStatus(status.id,index)" *ngFor="let status of groupedStatuses.admin; trackBy: trackById;let index=index" class="bg-white border  shadow-sm py-3 rounded-sm px-8 transition-all cursor-pointer hover:bg-[#f9fafa]">
        <p class="text-[13px] font-semibold ">{{ status.statusName }}</p>
            <p class="text-[12px] line-clamp-1 ">{{ status.statusDescription }}</p>
        </div>
    </div>
    <div class="flex bg-white items-center justify-between px-4 py-3 rounded-sm">
        <p>Chooes The Status </p>
        <button [disabled]="statuseIsChooes==0" (click)="assignStatusToProduct()"  [ngClass]="{'bg-blue-300':statuseIsChooes==0}"  class="px-4 py-1 border bg-blue-500 text-white rounded-sm">save</button>
    </div>
  </div> 
</div>
