<div class="w-full  mt-10">
	<div class="py-1  px-4 md:px-9 shadow-md mt-20 bg-white flex flex-col md:flex-row justify-between md:items-center">
		<h1 class="text-[17px] py-2 sm:text-[25px] font-semibold text-black w-full md:w-[60%] line-clamp-2">
			{{detailsProduct()?.description}}
		</h1>
		<div class="flex mt-1 md:items-center py-4 flex-col md:flex-row ">
			<div class="flex flex-col border-r py-3 md:py-0 border-gray-300 px-0 md:px-5">
				<span class="text-[15px] text-gray-500">From Total</span>
				<div class="flex items-center leading-4">
					<p class="text-orange-500 text-[15px] md:text-2xl">
						{{detailsProduct()?.price | number}} ج.م.
					</p>
					<p class="text-[14px] md:tex-xl mt-4 mx-1 line-through text-gray-400">
						{{detailsProduct()?.offerPrice | number}} ج.م.
					</p>
				</div>
			</div>
			<button
				class="bg-[#006bea] mx-5  my-3 md:my-0 text-sm text-gray-100 font-semibold px-8 py-3 rounded-full">Add
				To
				Cart</button>

		</div>
	</div>
	<div class="bg-white border-y  py-2.5 px-8 ">
		<p class="text-[13px] text-gray-600 font-thin"> {{detailsProduct()?.sku}} / RF25C5551SR/AA </p>
	</div>
	<div class="bg-white border-y  py-2.5 px-8">
		<ul class="flex items-center space-x-3 text-sm text-gray-900">
			<a [ngClass]="{ 'active': activeSection === 'overview' }" [routerLink]="[]" fragment="overview" class="">
				OverView
			</a>
			<a [ngClass]="{ 'active': activeSection === 'details' }" [routerLink]="[]" fragment="details" class="">
				Specifications
			</a>
			<li class="">Opinions</li>
		</ul>
	</div>
</div>


<section #overviewSection class="py-4 px-1 md:px-10 lg:px-8" id="overview">
	<div class="container mx-auto px-4">
		<div class="lg:col-gap-6 xl:col-gap-6 mt-8 grid grid-cols-1  lg:mt-12 lg:grid-cols-4 gap-2">
			<div class="lg:col-span-2 lg:row-end-1">
				<div class="header-logo  block lg:hidden">
					<div class="mt-5 flex items-center">
						<div class="flex items-center">
							<svg class="block h-4 w-4 align-middle text-yellow-500" xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20" fill="currentColor">
								<path
									d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
									class></path>
							</svg>
							<svg class="block h-4 w-4 align-middle text-yellow-500" xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20" fill="currentColor">
								<path
									d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
									class></path>
							</svg>
							<svg class="block h-4 w-4 align-middle text-yellow-500" xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20" fill="currentColor">
								<path
									d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
									class></path>
							</svg>
							<svg class="block h-4 w-4 align-middle text-yellow-500" xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20" fill="currentColor">
								<path
									d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
									class></path>
							</svg>
						</div>
						<p class="ml-2 text-sm font-medium text-gray-500">4.5</p>
					</div>
					<h1 class="text-[17px] sm:text-[20px]   text-gray-900 ">
						{{detailsProduct()?.name}}
					</h1>
					<p class="text-[15px] mt-2 line-clamp-3">
						{{detailsProduct()?.description}}
					</p>
				</div>


				<div class="flex flex-col lg:flex-row items-center justify-center">
					<!-- <div
						class="max-h-[420px] w-full lg:w-[15%] order-2 lg:order-1 flex flex-row lg:flex-col items-center justify-center ">
						<div *ngFor="let item of [0,0,0,0]"
							class="bg-white mx-2 flex items-center justify-center w-[100px] p-5 h-[50px] md:h-[60px] md:mt-6 border">
							<img [src]="'https://btech.com/media/catalog/product/2/2/22450a11348f69beb307254e2b1fc60a0359936e3bca0de8d82c7060afd296e7.jpeg?width=560&height=560&store=ar&image-type=image'"
								class="object-contain " alt loading="lazy">
						</div>
						<div
							class="bg-[#a9bacd] md:mt-6 w-[100px] h-[40px] md:h-[60px] flex items-center justify-center  border text-black font-semibold  rounded-md shadow-sm">
							+8</div>
					</div> -->
					<div class="flex justify-center  items-center ">
						<div class=" overflow-hidden ">
							<div class="h-full w-[100%] md:w-[100%] mt-5  object-cover ">
								<img [src]="detailsProduct()?.imageUrl" srcset="
                {{ detailsProduct()?.imageUrl }} 300w, 
                {{ detailsProduct()?.imageUrl }} 600w, 
                {{ detailsProduct()?.imageUrl }} 1000w"
									sizes="(max-width: 600px) 300px, (max-width:1200px) 600px, 1000px"
									alt="{{ detailsProduct()?.name }} - Image" width="500" height="500"
									style="height:100%;" loading="lazy" class="max-w-[360px]">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="lg:col-span-2 lg:row-span-2 lg:row-end-2 px-0 md:px-8">
				<div class="tite-page hidden lg:block">
					<h1 class="text-[17px] sm:text-[30px] text-gray-900 py-1">
						{{detailsProduct()?.name}}
					</h1>
					<p class="text-[12px] mt-2 text-gray-600 sm:text-[16.2px] line-clamp-4">
						{{detailsProduct()?.description}}
					</p>
					<!-- <p class="my-3 font-thin text-sm text-gray-600">
						رقم الموديل : {{detailsProduct()?.sku}}
					</p> -->
				</div>


				<!-- salary -->
				<div class="my-2 px-2 ">
					<!-- <div class="mt-5 flex flex-col md:flex-row space-x-2 md:items-center">
						<p *ngIf="detailsProduct()?.offerPrice" id="offer-price"
							class=" text-sm md:text-[17px] text-gray-500 font-thin ">
							الآن:
							<span class="text-gray-800   text-[25px]">
								{{detailsProduct()?.offerPrice}}
								جنيه
							</span>
							يشمل ضريبة القيمة المضافة
						</p>
						<p *ngIf="!detailsProduct()?.offerPrice" id="offer-price"
							class=" text-sm md:text-[17px] text-gray-600 ">
							الآن:
							<span class="text-gray-900  ">
								{{detailsProduct()?.price}}
								جنيه
							</span>
							يشمل ضريبة القيمة المضافة
						</p>
					</div> -->
					<!-- <div *ngIf="detailsProduct()?.offerPrice" class="flex items-center my-1">
						<p id="price" class="text-gray-500 line-through text-[13px] ">
							{{detailsProduct()?.price}}
						</p>
						<p class="text-gray-600   text-[13px] mx-1">
							وفر ({{detailsProduct()?.discount}} جنيه)
						</p>
					</div> -->


					<div class="flex justify-center flex-col">
						<p class="text-2xl py-4">Delivery details</p>
						<div>
							<div class="flex flex-col space-x-1 ">
								<div class="flex items-center py-1.5  space-x-3">
									<img class="w-10 h-10"
										src="../../../assets/trust_icon_free_shipping_81px._CB590597072_.png" alt>
									<p class="font-thin text-[12px]  md:text-[15px] ">Delivers to: <span
											class="text-blue-500">04750</span>
										Not available</p>
								</div>
								<div class="flex py-1.5  space-x-3">
									<i class='bx bxs-store text-3xl text-orange-200 font-thin'></i>
									<div class=" flex flex-col justify-center space-y-2">
										<span class="text-black text-sm font-thin">Free in-store pickup now available
											near you</span>
										<p class="font-thin text-gray-500 text-[12px]">Buy online and pickup same day at
											nearby Samsung or Best Buy stores. Check availability by changing your store
											or zip code below, and finalize during checkou</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>



				<div class="mt-2 flex flex-col   border-t border-b py-4 ">
					<button type="button"
						class="my-2 md:mx-2 inline-flex w-full items-center justify-center rounded-md border-2 border-transparent bg-gray-900 bg-none px-12 py-3 text-center text-base   text-white transition-all duration-200 ease-in-out focus:shadow hover:bg-gray-800">
						<svg xmlns="http://www.w3.org/2000/svg" class="shrink-0 mr-3 h-5 w-5" fill="none"
							viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
							<path stroke-linecap="round" stroke-linejoin="round"
								d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"></path>
						</svg>
						<span class="mx-4">Buy Now</span>
					</button>
				</div>
				<div class="flex items-center  justify-center mt-1 py-1">
					<div class="flex flex-col justify-center items-center mx-3">
						<img class="w-10 h-10" src="../../../assets/trust_icon_free_shipping_81px._CB590597072_.png"
							alt>
						<p class=" text-[10px] text-slate-800 ">Free Shipping</p>
					</div>
					<div class="flex  flex-col justify-center items-center">
						<img class="w-10 h-10" src="../../../assets/icon-returns._CB403797073_.png" alt>
						<p class=" text-[10px] text-slate-800 ">15 Days Return</p>
					</div>
					<div class="flex mx-3  flex-col justify-center items-center">
						<img class="w-10 h-10" src="../../../assets/icon-ePay._CB589360495_.png" alt>
						<p class=" text-[10px] text-center text-slate-800 ">Can Cash on Delivery</p>
					</div>
				</div>
				<div class="flex items-center justify-center">
					<i class='bx bx-car text-2xl text-[#3f8f6794]'></i>
					<p class="py-3 px-2 text-sm">
						Delivery to your location during Wednesday, October 23
						<span class="text-blue-800 font-semibold">
							Wednesday, October 23
						</span>
					</p>
				</div>
			</div>

			<div *ngIf="detailsProduct()?.productAttributes?.length!=0" #detailsSection
				class="lg:col-span-full  md:px-10" id="details">
				<div class="mt-8 flow-root sm:mt-12">
					<div class="flex flex-col mt-8">
						<div class="-m-1.5 overflow-x-auto">
							<div class="p-1.5 min-w-full inline-block align-middle">
								<div class="overflow-hidden">
									<table class="min-w-full divide-y divide-gray-200">
										<thead>
											<tr>
												<th scope="col"
													class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">
													اسم
													الخاصية
												</th>
												<th scope="col"
													class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">
													التفاصيل
												</th>
											</tr>
										</thead>
										<tbody>
											<tr class="odd:bg-white even:bg-gray-100 overflow-x-hidden"
												*ngFor="let attribute  of detailsProduct()?.productAttributes">
												<td
													class="px-6 py-4 w-[50%] whitespace-nowrap text-sm font-medium text-gray-800">
													{{attribute.attributeName}}</td>
												<td class="px-6 py-4 w-[50%] whitespace-nowrap text-sm text-gray-800">
													{{attribute.attributeValue}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>

	<div class="mt-10 px-2 md:px-16">
		<h3 class="py-3 text-xl md:text-2xl font-semibold px-1">Other products</h3>
		<app-owl-carousel [service]="_productService" [methodName]="'getAllProduct'"
			[params]='params'></app-owl-carousel>
	</div>

</section>