<!-- Card -->
<div class="flex flex-col col-span-2 bg-white border shadow-sm rounded-xl ">
    <div class="p-4 md:p-5 flex justify-between gap-x-3">
        <div>
            <p class="text-xs uppercase tracking-wide text-blue-500 ">
                +{{data.phone}}
            </p>
            <div class="mt-1 flex items-center gap-x-2">
                <h3 class="text-sm text-gray-800 line-clamp-4">
                    {{ data.city }} - {{ data.area }} <br>
                    {{ data.street }} - {{ data.landmark }}
                </h3>
            </div>
            
        </div>
    </div>
    <div
        class="flex items-center space-x-2 w-full justify-between py-3 px-4 md:px-5  text-sm text-gray-600 border-t border-gray-200 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 rounded-b-xl ">
        <div class="flex items-center space-x-2 " href="#">
            <div class="shrink-0 flex justify-center items-center size-[46px] bg-blue-600 text-white rounded-full ">
                <svg class="shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
                    <circle cx="9" cy="7" r="4" />
                    <path d="M22 21v-2a4 4 0 0 0-3-3.87" />
                    <path d="M16 3.13a4 4 0 0 1 0 7.75" />
                </svg>
            </div>
            <p>{{data.fullName}}</p>
        </div>
        <div class="flex items-center space-x-2">
            <button class="border px-4 py-0.5 rounded-full hover:bg-black hover:text-white">active</button>
            <i class='bx bx-trash text-xl'></i>
        </div>
    </div>
</div>
<!-- End Card -->