<div class="container px-0 w-full mx-auto">
  <app-advertisement-carousel></app-advertisement-carousel>
</div>

<div class="container mx-auto px-0 xs:px-4 lg:px-10 bg-[#fff] py-4">
  <app-product-offers></app-product-offers>
</div>
<div class="container mx-auto px-0 xs:px-4  lg:px-10 bg-[#fff]">
  <app-category-card></app-category-card>
  <div class="py-2 mt-1 bg-white mb-4">
    <p class=" text-[22px] md:text-[33px] font-semibold px-4 py-2 border-t">Newest Products</p>
    <div
      class="overflow-hidden relative text-[12px] line-clamp-1 md:text-responsive-lg border  px-4 py-2  md:w-[30vw]  text-black ">
      Be the first to get it – New products available now
      <i class='absolute right-2 overflow-hidden top-0 text-[#000000b7] text-[65px] bx bxs-shopping-bag-alt'></i>
    </div>
  </div>
  <app-owl-carousel [Recently]="false" [autoPlay]="false" [service]="_productStatus"
    [methodName]="'getProductWithStatus'" [params]="{
            CategoryName: '',
            StatusId:17,
            PageIndex: 1,PageSize: 8,}"></app-owl-carousel>


  <app-tag-navigation [TitleTagNevigation]="'Gaming Monitors'"></app-tag-navigation>



  <div class="py-2 mt-1 bg-white mb-4">
    <p class=" text-[22px] md:text-[33px] font-semibold px-4 py-2 border-t">Gaming Monitors</p>
    <div
      class="overflow-hidden relative text-[13px] line-clamp-1 md:text-responsive-lg border  px-4 py-2  md:w-[30vw]  text-black ">

      Top Gaming Monitors available now
      <i class='absolute right-2 overflow-hidden top-0 text-[#000000b7] text-[65px] bx bxs-shopping-bag-alt'></i>
    </div>
  </div>
  <app-owl-carousel [Recently]="false" [autoPlay]="false" [service]="_productService" [methodName]="'getAllProduct'"
    [params]="{
      CategoryName: 'gaming_monitors',
      StatusId:0,
      PageIndex: 1,PageSize: 8,}"></app-owl-carousel>
</div>



<div class=" container mx-auto px-0 xs:px-4  lg:px-10 bg-[#fff]">
  <div class="py-2 mt-1 bg-white mb-4">
    <p class=" text-[22px] md:text-[33px] font-semibold px-4 py-2 ">Washing Machines</p>
    <div
      class="overflow-hidden relative text-[12px] line-clamp-1 md:text-responsive-lg border  px-4 py-2  md:w-[30vw]  text-black ">
      Be the first to get it – New products available now
    </div>
  </div>
  <app-owl-carousel [service]="_productService" [methodName]="'getAllProduct'" [params]="{
    CategoryName: 'washingmachines',
    StatusId:0,
    PageIndex: 1,
    PageSize: 8,}"></app-owl-carousel>


  <div class=" bg-[#fff] py-4">
    <div class="text-center my-10">
      <h3 class="text-xl md:text-4xl font-medium py-2">Style your device and make it yours</h3>
      <p class="text-[10px] md:text-sm font-thin">Go next-level with our most popular accessories and hottest tech
        obsessions.</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-4 px-1 gap-1">
      <div class="flex flex-row md:flex-col col-span-1 gap-1">
        <div class="relative  bg-[#f7f7f7] hover:scale-95 transition-transform  py-2 rounded-lg shadow-sm">
          <img loading="lazy" class="rounded-md " src="assets/smallcard-watchband-DT-grey.webp" alt="">
          <div class="absolute  bottom-2  md:bottom-5 lg:bottom-14 w-full text-center  font-semibold">
            <p class="text-center text-[15px] md:text-[19px] font-semibold w-full ">Watch bands</p>
            <p class="text-center text-[10px] md:text-[12px] font-thin">Watch bands to match your mood and your fit.</p>
          </div>
        </div>
        <div class="relative hover:scale-95 transition-transform bg-[#f7f7f7]  py-2 rounded-lg shadow-sm">
          <img loading="lazy" class="rounded-md " src="assets/CO35_featured_Charger_330x330.avif" alt="">
          <div class="absolute  bottom-2  md:bottom-5 lg:bottom-14 w-full text-center text-[19px] font-semibold">
            <p class="text-center text-[15px] md:text-[19px] font-semibold w-full "> Powerful portability</p>
            <p class="text-center text-[10px] md:text-[12px] font-thin">Charge any device swiftly.</p>
          </div>

        </div>
      </div>
      <div class="flex flex-col col-span-2">
        <div class="relative hover:scale-95 transition-transform bg-[#f7f7f7]    py-2 rounded-lg shadow-sm">
          <img loading="lazy" class="w-full rounded-md " src="assets/ACC-CO05-Bigcard-DT.webp" alt="">
          <div class="w-full absolute top-5 text-center text-[19px] font-semibold">
            <p class="text-center text-[19px] md:text-[25px] font-semibold w-full ">Mobaile Accessories</p>
            <p class="text-center text-[10px] md:text-[12px] font-thin">Find accessories designed to elevateyour device.
            </p>
          </div>

        </div>
      </div>

      <div class="flex flex-col col-span-1">
        <div class="flex flex-row md:flex-col col-span-1 gap-1">
          <div class="relative hover:scale-95 transition-transform bg-[#f7f7f7]  py-2 rounded-lg shadow-sm">
            <img loading="lazy" class="rounded-md " src="assets/CO35_featured_Adapter_330x330.avif" alt="">
            <div class="absolute  bottom-2  md:bottom-5 lg:bottom-14 w-full text-center text-[19px] font-semibold">
              <p class="text-center text-[15px] md:text-[19px] font-semibold w-full "> Galaxy Buds </p>
              <p class="text-center text-[12px] font-thin">Block distractions throughout the day with rich audio.
              </p>
            </div>
          </div>
          <div class="relative hover:scale-95 transition-transform bg-[#f7f7f7]   py-2 rounded-lg shadow-sm">
            <img loading="lazy" class="rounded-md " src="assets/CX-Accessories-CO35-Buds3-DT.webp" alt="">
            <div class="absolute bottom-2  md:bottom-5 lg:bottom-14 w-full text-center text-[19px] font-semibold">
              <p class="text-center text-[15px] md:text-[19px] font-semibold w-full "> Double the speed</p>
              <p class="text-center text-[10px] md:text-[12px] font-thin"> Boost your charging efficiency. .</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="py-2 mt-1 bg-white mb-4">
    <p class=" text-[22px] md:text-[33px] font-semibold px-4 py-2 border-t">Televisions</p>
    <div
      class="overflow-hidden relative text-[12px] line-clamp-1 md:text-responsive-lg border  px-4 py-2  md:w-[30vw]  text-black ">
      Be the first to get it – New products available now
    </div>
  </div>

  <app-owl-carousel [service]="_productService" [methodName]="'getAllProduct'" [params]="{
  CategoryName: 'televisions',
  StatusId:0,
  PageIndex: 1,
  PageSize: 8,}"></app-owl-carousel>



  <div class="mt-8 mb-4  blur-glass">
    <p
      class=" text-[19px] md:text-[18px] px-4 py-1 my-2 border-dashed border-black font-semibold rounded-sm  border shadow-sm w-[220px] bg-[#fcfbfb] text-black">
      Your Recent Views</p>
    <app-owl-carousel [Recently]="true" [itemLarge]="6" [autoPlay]="false" [service]="_productService"
      [methodName]="'GetRecentlyProducts'" [params]="{}">
    </app-owl-carousel>
  </div>
</div>