<form [@moveLeftToRight]="'enter'" [@moveRightToLeft]="'leave'" (ngSubmit)="submitForm()" [formGroup]="NameForm"
    class="w-full flex flex-col space-y-3 ">
    <div class="">
        <label for="firstName" class="block text-sm mb-2">First Name</label>
        <div class="relative">
            <input formControlName="firstName" placeholder="Enter your First Name" type="text" id="firstName"
                name="firstName" autocomplete="off"
                class="py-3 outline-none rounded-sm shadow-sm px-4 block border w-full border-gray-200  text-[12px] ">
            <div *ngIf="isControlInvalid('firstName')" class="top-3 absolute inset-y-0 end-0 pointer-events-none pe-3">
                <svg class="size-5 text-green-500" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"
                    aria-hidden="true">
                    <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                </svg>
            </div>
            <div class="text-red-500 text-[13px] px-1 font-thin my-1" *ngIf="isControlInvalid('firstName')">
                {{getErrorMessage('firstName') }}
            </div>
        </div>
    </div>
    <div class="">
        <label for="email" class="block text-sm mb-2">Last Name</label>
        <div class="relative ">
            <input formControlName="lastName" autocomplete="off" placeholder="Enter your Last Name" type="text"
                id="lastName" name="lastName"
                class="py-3 rounded-sm shadow-sm outline-none   px-4 block border w-full border-gray-200  text-[12px] ">
            <div *ngIf="isControlInvalid('lastName')" class="top-3 absolute inset-y-0 end-0 pointer-events-none pe-3">
                <svg class="size-5 text-green-500" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"
                    aria-hidden="true">
                    <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                </svg>
            </div>
            <div class="text-red-500 text-[13px] px-1 font-thin my-1" *ngIf="isControlInvalid('lastName')">
                {{getErrorMessage('lastName') }}
            </div>
        </div>
    </div>
    <div class="flex items-end justify-end  py-8">
        <button type="submit" class="bg-blue-500 text-white px-8 py-2 rounded-3xl">Next</button>
    </div>
</form>