<div class=" bg-white rounded-md py-2 px-3 border shadow-sm">
    <div class="flex items-center justify-between ">
        <div class="flex items-center space-x-2">
            <i class='bx bx-barcode'></i>
            <p class="mx-1 font-semibold text-[15px]">Invoice #923</p>
        </div>
        <div class="relative flex items-center  justify-center mx-1  text-[13px] rounded-xl text-gray-500  ">
            <p>DATE : {{'12/15/2025'}} </p>
        </div>
    </div>
    <div class="text-[12px] font-thin text-gray-500">
        <p>Tracking number : <span class="text-black">IW3475453455</span></p>
    </div>
    <div class="flex items-center justify-between ">
        <div class="text-[12px] font-thin text-gray-500">
            <p>Quantity : <span class="text-black">3 </span></p>
        </div>
        <div class="relative  flex items-center  justify-center mx-1  text-[13px]  text-gray-500  ">
            <p>Total Amount : <span class="text-black">{{20000 | number}}EPG</span></p>
        </div>
    </div>
    <div class="flex items-center justify-between mt-5">
        <div class="text-[12px] font-thin text-gray-500">
            <button class="px-5 py-1 rounded-md shadow-sm bg-white border ">Details</button>
        </div>
        <div
            class="relative shadow-sm flex items-center px-3 py-0.5 space-x-2  justify-center   text-[13px] rounded-xl text-[#6a5d21] font-semibold  bg-[#ffed9e]">
            <i class='bx bxs-time text-black' ></i>
            <p>Panding </p>
        </div>
    </div>
</div>