<!-- --------------------------Dynamic Dashboard Card-------------------------- -->
<div class="flex flex-col border px-4 overflow-hidden py-5 rounded-md shadow-sm bg-white relative">
    <div class="flex items-center justify-between">
        <div class="flex items-center space-x-2">
            <h2 class="text-gray-600">
                <p class="text-sm md:text-base">{{ label }}</p> <!-- Dynamic label text -->
            </h2>
        </div>
    </div>
    <div class="flex items-center space-x-2">
        <h3 class="text-responsive-sm md:text-responsive-xl py-1 text-emerald-900">
            {{ amount | number }} {{ currency }}</h3>
        <!-- Dynamic amount and currency -->
    </div>
    <div class="flex  md:items-center flex-col md:flex-row">
        <div class="flex w-[50%] md:w-auto items-center shadow-sm rounded-md px-2 text-sm" [ngClass]="{
               'bg-[#d7f1ed] text-[#4a5654]': isPositiveChange,
               'bg-[#f5dbdf] text-red-500': !isPositiveChange
           }">
            <span class="text-sm  md:text-base">{{ percentageChange | number:'1.2-2' }}%</span> <!-- Dynamic percentage -->

            <i class="text-[#4a5654] text-[15px] bx bx-trending-up" *ngIf="isPositiveChange"></i>
            <i class="text-red-700 text-[15px]  bx bx-trending-down" *ngIf="!isPositiveChange"></i>

        </div>
        <p class="mx-1 font-thin text-sm md:text-base text-gray-500 ">مقارنة بالشهر الماضي</p> <!-- Static text remains the same -->
    </div>
</div>
<!-- -----------------End of Dynamic Dashboard Card----------------------- -->