
    <a
      class="block p-4 border border-gray-100 md:p-5 relative bg-white hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 before:absolute before:top-0 before:start-0 before:w-full before:h-px md:before:w-px md:before:h-full before:bg-gray-200 first:before:bg-transparent"
      href="#"
    >
   
      <div class="flex md:flex flex-col lg:flex-row gap-y-3 gap-x-5">
        <!-- You can use <svg> or <i [class]="card.icon"> if using icon libraries -->
        <i
          class="shrink-0 size-8 text-gray-600"
          [class]="'bx ' + icon"
        ></i>

        <div class="grow">
          <p class="text-xs uppercase font-medium text-gray-800">
            {{ label }}
          </p>
          <div class="mt-1 ">
            <h3 *ngIf="!isLoading" class="text-xl  ">
              {{ amount | number }} <span class="text-sm" >{{ currency }}</span>
            </h3>
            <div *ngIf="isLoading" class="skeleton-container">
              <div class="skeleton-line"></div>
            </div>
          </div>
        </div>
      </div>
    </a>
