@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Samsung Sharp Sans Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Samsung Sharp Sans Medium'), url('assets/fonts/samsungsharpsans.woff') format('woff');
}

.blur-glass {
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  background: rgba(255, 255, 255, 0.2);
  /* Semi-transparent background */
  transition: color 0.3s ease, background 0.3s ease;
  /* Smooth transitions */
}

/* .owl-item{
  max-width: 300px !important;

}
.card{
  max-width: 300px !important;
  width: 300px !important;
  display: block !important;
} */


.retext {
  font-size: clamp(17px, 3.2vw, 55px);
}

.apexcharts-toolbar {
  display: none !important;
}

.no-scroll {
  overflow: hidden;
  /* Prevent scrolling */
}

body {
  margin: 0;
  box-sizing: border-box;
}

/* For all scrollbars */
::-webkit-scrollbar {
  width: 9px; /* Width of vertical scrollbar */
  height: 8px; /* Height of horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Track color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(172, 172, 172);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(28, 28, 28);
}

/* Optional Scrollbar for specific containers */
.scrollable-container {
  max-height: 500px;
  overflow-y: auto;
  padding-right: 5px;
}
