@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Samsung Sharp Sans Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Samsung Sharp Sans Medium'), url('assets/fonts/samsungsharpsans.woff') format('woff');
}

.blur-glass {
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  background: rgba(255, 255, 255, 0.2);
  /* Semi-transparent background */
  transition: color 0.3s ease, background 0.3s ease;
  /* Smooth transitions */
}

.retext {
  font-size: clamp(17px, 3.2vw, 55px);
}

.apexcharts-toolbar {
  display: none !important;
}

.no-scroll {
  overflow: hidden;
  /* Prevent scrolling */
}

body {
  margin: 0;
  box-sizing: border-box;
}