<div class="max-w-[85rem] px-4 py-3 sm:px-6 lg:px-8 lg:py-2 mx-auto">

    <div class="mx-auto mt-2">
        <div class="grid grid-cols-2 md:grid-cols-4 border border-gray-200 shadow-2xs rounded-xl overflow-hidden">
            <!-- Total Sales Card -->
            <app-dashboard-card [icon]="icons[0]" label="Total Sales" [amount]="chartData()?.totalSales!" currency="EGP"
                [percentageChange]="5.4" [isPositiveChange]="true" [isLoading]="(dashboardApi.isLoading$ | async)!">
            </app-dashboard-card>

            <!-- Total Clients Card -->
            <app-dashboard-card [icon]="icons[1]" label="Total Clients" [amount]="chartData()?.totalClients!"
                currency="Clients" [percentageChange]="5.4" [isPositiveChange]="true"
                [isLoading]="(dashboardApi.isLoading$ | async)!">
            </app-dashboard-card>

            <!-- Total Orders Card -->
            <app-dashboard-card [icon]="icons[2]" label="Total Orders" [amount]="chartData()?.totalOrders!"
                currency="Orders" [percentageChange]="10.2" [isPositiveChange]="true"
                [isLoading]="(dashboardApi.isLoading$ | async)!">
            </app-dashboard-card>

            <!-- Total Products Card -->
            <app-dashboard-card [icon]="icons[3]" label="Total Products" [amount]="chartData()?.totalProducts!"
                currency="Products" [percentageChange]="-3.1" [isPositiveChange]="false"
                [isLoading]="(dashboardApi.isLoading$ | async)!">
            </app-dashboard-card>
        </div>
    </div>

    <app-order-status-chart ></app-order-status-chart>
    <app-top-seller-table></app-top-seller-table>
    
    <!-- <div class="flex  flex-col md:flex-row gap-4 my-2">
        <app-revenue-chart [series]="chartData()" class="w-[65%]"></app-revenue-chart>
        <div class="border border-gray-100 bg-white rounded-lg px-2 py-1 flex flex-col space-y-2 w-full lg:w-[35%]">

            <div *ngFor="let order of recentOrders"
                class="px-2 py-3 border border-gray-200 rounded-lg hover:shadow-md transition">
                <div>
                    <div class="flex gap-x-3">
                        <div class="flex flex-col gap-2">
                            <div class="flex gap-x-3">
                                <div class="grow flex flex-col">
                                    <div class="flex justify-between items-start">
                                        <span
                                            class="text-[16px] font-semibold text-gray-800">{{order.customerName.firstName}}
                                            {{order.customerName.lastName}}</span>
                                        <span class="text-sm font-medium"
                                            [ngClass]="order.status === 'Completed' ? 'text-green-500' : 'text-orange-500'">
                                            {{order.status}}
                                        </span>
                                    </div>
                                    <span class="text-sm text-gray-500">
                                        Order #{{order.orderId}} • {{order.date}}
                                    </span>
                                    <span class="text-sm text-gray-600">{{order.email}}</span>
                                </div>
                            </div>
                            <div class="flex gap-2 flex-wrap">
                                <img *ngFor="let image of order.itemImages" [src]="image"
                                    class="size-12 rounded-lg object-cover border border-gray-200"
                                    [alt]="'Product image'">
                                <div class="flex items-center gap-x-2 mt-2">
                                    <div class="flex items-center gap-1">
                                        <svg class="w-4 h-4 text-gray-500" fill="none" stroke="currentColor"
                                            viewBox="0 0 24 24">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
                                        </svg>
                                        <span class="text-sm font-medium text-gray-700">{{order.items}} items</span>
                                    </div>
                                    <span class="text-sm font-semibold text-blue-600">
                                        {{order.total | currency:'EGP '}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    