<app-delete-modal (isSuccessful)="handelDeleteItemFromTable($event)" [isDeleteStatus]="true" [isClosed]="showModal" [selectedProductId]="productId" [selectedStatusId]="statusId"></app-delete-modal>

<!-- Card -->
<div class="flex flex-col mt-5 px-5">
    <div class="-m-1.5 overflow-x-auto">
        <div class="p-1.5 min-w-full inline-block align-middle">
            <div class="bg-white   shadow-sm overflow-hidden">
                <table *ngIf="!(perform.hasError$ | async)" class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col" class="ps-8 lg:ps-8 xl:ps-8 pe-6 py-3 text-start">
                                <div class="flex items-center gap-x-2">
                                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                                        Name
                                    </span>
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3 text-start">
                                <div class="flex items-center gap-x-2">
                                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                                        Price
                                    </span>
                                </div>
                            </th>

                            <th scope="col" class="px-6 py-3 text-start">
                                <div class="flex items-center gap-x-2">
                                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                                        Stock
                                    </span>
                                </div>
                            </th>



                            <th scope="col" class="px-6 py-3 text-start">
                                <div class="flex items-center gap-x-2">
                                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                                        Brand
                                    </span>
                                </div>
                            </th>

                            <th scope="col" class="px-6 py-3 text-start">
                                <div class="flex items-center gap-x-2">
                                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                                        Discount
                                    </span>
                                </div>
                            </th>


                            <th scope="col" class="px-6 py-3 text-start">
                                <div class="flex items-center gap-x-2">
                                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                                        offerEnd
                                    </span>
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3 text-start">
                                <div class="flex items-center gap-x-2">
                                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                                        Statuses
                                    </span>
                                </div>
                            </th>
                        </tr>
                    </thead>


                    <tbody class="divide-y divide-gray-200">
                        <tr [@fadeInOut] *ngFor="let product of products()?.data;let index=index">
                            <td class=" whitespace-nowrap">

                                <div class="ps-2 lg:ps-1 xl:ps-1 pe-16 py-3">
                                    <div class="flex items-center w-[55%] md:w-[50%]">
                                        <img loading="lazy"
                                            class="inline-block max-w-20  w-[20%] px-1 py-1 mx-2 bg-[#eee] shadow-md rounded-md  "
                                            [src]="product.imageUrl" alt="Avatar">
                                        <div class="">
                                            <p class="w-[210px] block text-sm font-semibold text-gray-800 line-clamp-2">
                                                {{product.name}}</p>
                                            <span
                                                class="block text-[10px] line-clamp-2 max-w-60 whitespace-nowrap text-gray-500">{{product.description}}</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="size-px whitespace-nowrap">
                                <div class="px-6 py-2 flex items-center space-x-1">
                                    <i class='bx bx-money'></i>
                                    <p class="text-sm text-gray-600">{{product.price | number}} <span
                                            class="text-[9px]">EGP</span></p>
                                </div>
                            </td>
                            <td class="size-px whitespace-nowrap">
                                <div class="px-6 py-2">
                                    <span
                                        class="py-1 px-1.5 inline-flex items-center gap-x-1 text-xs font-medium bg-teal-100 text-teal-800 rounded-full">
                                        <svg *ngIf="product.stockQuantity>2" class="size-2.5"
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" viewBox="0 0 16 16">
                                            <path
                                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                        </svg>
                                        <i *ngIf="product.stockQuantity<=2"
                                            class='bx bx-x bg-red-400 rounded-full text-white'></i>
                                        {{product.stockQuantity}}
                                    </span>
                                </div>
                            </td>
                            <td class="size-px whitespace-nowrap">
                                <div class="px-6 py-3">
                                    <div class="flex items-center uppercase gap-x-3 text-sm ">
                                        {{product.brand}}
                                    </div>
                                </div>
                            </td>
                            <td class="size-px whitespace-nowrap">
                                <div class="px-6 py-3">
                                    <span class="text-sm text-gray-500">{{product.discount}}%</span>
                                </div>
                            </td>

                            <td class="size-px whitespace-nowrap">
                                <div class="px-6 py-2">
                                    <span class="text-sm">{{ product.createdAt | date:'MMM d, y h:mm a':'en-US'
                                        }}</span>
                                </div>
                            </td>
                            <td class=" whitespace-nowrap">
                                <div class="px-6 py-1.5">
                                    <button (click)="deleteStatus(product.id,index)"
                                        class="flex items-center  text-gray-800 border px-4 py-1 rounded-md shadow-sm space-x-2">
                                        <i class='bx bx-trash-alt'></i>
                                       
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

             
                <div *ngIf="(perform.hasError$ | async) && (perform.statusCode$ | async)==404">  
                 
                    <section class="bg-white ">
                        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                            <div class="mx-auto max-w-screen-sm text-center">
                                <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600 ">404</h1>
                                <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl ">Something's missing.</p>
                                <p class="mb-4 text-lg font-light text-gray-500 ">Sorry, we can't find that page. <span class="text-blue-500">{{perform.errorMessage$ | async}}</span></p>
                                <a href="#" class="inline-flex text-white bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center  my-4">Back to Homepage</a>
                            </div>   
                        </div>
                    </section>
                </div>

                <!-- End Table -->